body {
 font: .9em/1.2em helvetica, sans-serif;
 color: #888;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover { color: #6ab9ec; border-bottom: solid 2px orange; }

#tweets {
  width: 400px;
  padding: 10px;
  border: solid 1px #d8d8d8;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin: 20px auto;
  list-style: none;
  height: 600px;
  overflow: auto;
}

li {
  margin: 0 0 5px;
  padding: 0 0 20px 0;
  position: relative;
  overflow: hidden;
  border-bottom: dashed 1px #d8d8d8;
}
 li img {
   float: left;
   margin: 5px 10px 0 0;
   border: solid 1px #d8d8d8;
   padding: 4px;
   background-color: #efefef;
}

#loading {
  background: url(images/loader.gif) left center no-repeat;
  padding: .4em 30px;
  border: none;
}

cite {
  display: block;
  margin: .4em 0 0;
}

p {
  margin: .4em 0;
}

.tweetdate {
  position: absolute;
  bottom: 3px;
  right: 0;
  font-size: .8em;
  color: #ccc;
  margin: 0;
  padding: 0;
}
