<style type="text/css">
        .defaultStyle
        {
            font: normal 12pt arial;
            text-decoration: none;
        }
        .newStyle
        {
            font: italic 12pt arial;
            text-decoration: underline;
        }
    </style>
